<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vin</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Transactions/styles/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'Transactions/styles/basic.css' %}">

    <script defer src="{% static 'Transactions/scripts/base.js' %}"></script>
</head>
<body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'Transactions:index' %}">
                <img src="{% static 'Transactions/images/vin icon.png' %}" alt="Vin Logo"> 
                <h2 style="margin-left:5px">Vin</h2>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end">
                <div class="buttons">
                    <a class="button is-primary">
                        Sign Up
                    </a>
                    <a style="margin-right:10px" class="button is-light">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}

    <button>Click me</button>

    <footer class="footer">
        <div class="content has-text-centered">
            <strong>Vin</strong> by Jannick Staes.
        </div>
    </footer>
</body>
</html>


