{% extends "Transactions/base.html" %}

{% block content %}
{% load static %}
{% csrf_token %}
<script defer src="{% static 'Transactions/scripts/budget_detail.js'%}"></script>
<section class="section is-medium">
    <h1 class="title" style="margin-bottom: 50px">
        {{ budget.name }}
    </h1>

    <div style="text-align: center;">
        <div class="columns">
            <div class="column is-1 is-offset-5" style="text-align: left;">
                <div class="block">Target Budget: </div>
                <div class="block">Paid so far: </div>
                <div class="block">Estimated final cost: </div>
                <div class="block">Start Date: </div>
                <div class="block">End Date: </div>
            </div>
            <div class="column is-1" style="text-align: right;">
                <div class="block">
                    <div id="displayBudget" class="columns is-gapless">
                        <div class = "column">
                            {{ budget.target }}
                        </div>
                        <div class = "column">
                            {{ budget.currency }}
                        </div>
                        <div class = "column">
                            <span class="icon">
                                <i class="fas fa-edit" id="budgetEditButton"></i>                                    
                            </span>
                        </div> 
                    </div>
                    <div id ="editBudget" class="field has-addons">
                        <div class="control">
                            <input class="input is-small" type="text" placeholder="{{ budget.target }}" id="newBudget">
                        </div>
                        <div class="control">
                            <span class="select is-small">
                              <select>
                                <option>EUR</option>
                              </select>
                            </span>
                        </div>
                        <div class = "control">
                            <a class="button is-primary is-small" type="submit" id="newBudgetButton">
                                Save
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block" >
                    <div id="displayActuals" class="columns is-gapless">
                        <div class = "column">
                            {{ budget.actuals }}
                        </div>
                        <div class = "column">
                            {{ budget.currency }}
                        </div>
                        <div class = "column">
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div id="displayEac" class="columns is-gapless">
                        <div class = "column">
                            {{ budget.eac }}
                        </div>
                        <div class = "column">
                            {{ budget.currency }}
                        </div>
                        <div class = "column">
                        </div>
                    </div>
                </div>
                <div class="block">
                    {{ budget.startDate }}
                </div>
                <div class="block">
                    {{ budget.endDate }}
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-centered" style="margin-top: 20px">
        <div class="control">   
            <form>
                {% csrf_token %}
                <button class="button is-danger" type = "submit" formaction = "{% url 'Transactions:budget_delete' budget.id %}" formmethod="post">Delete</button>
                <button class="button is-link is-light" type = "submit" formaction="{% url 'Transactions:budgets' %}" formmethod="get">Back</button>
            </form>
    </div>
</section>


{% endblock content %}

