{% extends "Transactions/base.html" %}

{% block content %}
    <section class="section is-medium">
        <h1 class="title" style="margin-bottom: 50px">
            {{ budget.name }}
        </h1>

        <div style="text-align: center;">
            <p>Target Budget: {{ budget.target }} {{ budget.currency }}</p>
            <p>Paid so far: {{ budget.actuals }} {{ budget.currency }}</p>
            <p>Estimated final cost: {{ budget.eac }} {{ budget.currency }}</p>

            <p>Start Date: {{ budget.startDate }}</p>
            <p>End Date: {{ budget.endDate }}</p>
        </div>

        <div class="field is-grouped" style="text-align: center;margin-top: 20px">
            <div class="control">   
                <form method="POST" >
                    {% csrf_token %}
                    <button class="button is-danger" type = "submit">Delete</button>
                </form>
            </div> 
            <form action="{% url 'Transactions:budgets' %}" method="GET" >
                <button class="button is-link" type = "submit">Back</button>
            </form>
        </div>
    </section>
{% endblock content %}