{% extends "Transactions/base.html" %}

{% block content %}
<section class="section is-medium">
    <h1 class="title">
        Details
    </h1>

    <p id="detailAmount">Amount: {{ transaction.sign}} {{ transaction.amount }} {{ transaction.currency }}</p>
    <p>On: {{ transaction.date }}</p>
    {% if transaction.sign == '-' %}
        <p>To: {{ transaction.account }} </p>
    {% else %}
        <p>From: {{ transaction.account }} </p>
    {% endif %}
    <p>Comment: {{ transaction.comment }}</p>

    <form action="{% url 'Transactions:list' %}" method="GET">
        <button class="button is-link" type= "submit">Edit</button>
        <button class="button is-link" type = "submit">Back</button>
    </form>
</section>
{% endblock content %}

