{% extends "Transactions/base.html" %}

{% block content %}
{% load static %}
<script defer src="{% static 'Transactions/scripts/detail.js'%}"></script>
<section class="section is-medium">
    <h1 class="title">
        Details
    </h1>

    <div class="container">
        <div class="columns is-mobile" id="details">
            <div class="column" style="text-align: right" id="descriptions">
                <p>Amount: </p>
                <p>On: </p>
                {% if transaction.sign == '-' %}
                    <p>To: </p>
                {% else %}
                    <p>From: </p>
                {% endif %}
                <p>Comment: </p>
            </div>
            <div class="column" style="text-align: left" id="values">
                <p>
                    {{ transaction.sign}} {{ transaction.amount }} {{ transaction.currency }} 
                    <i class="fas fa-edit" id="amountEditButton"></i>
                </p>
                <p>{{ transaction.date }}</p>
                <p>{{ transaction.account }}</p>
                <p>{{ transaction.comment }}</p>
            </div>
                        
            <div id="editAmount" class="columns is-centered">
                <form>
                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label" for="Amount">Amount</label>
                        </div>
                    
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control">
                                    <span class="select is-small">
                                        <select name="Currency">
                                            <option>EUR</option>
                                            <option>USD</option>
                                            <option>GBP</option>
                                        </select> 
                                    </span>
                                </p>
                                <p id ="amountInput" class="control">
                                    <input class="input is-small" type="text" placeholder="Amount" name="Amount">
                                </p>
                            </div>

                            <div class="field is-grouped is-grouped-centered">
                               <p class="control">
                                 <a class="button is-primary is-small">
                                   Submit
                                 </a>
                               </p>
                               <p class="control">
                                 <a class="button is-light is-small">
                                   Cancel
                                 </a>
                               </p>
                            </div>
                        </div>                    
                    </div>                             
                </form>
            </div>
        </div>

        <div style="margin-top: 20px">
            <form action="{% url 'Transactions:list' %}" method="GET" >
                <button class="button is-link" type = "submit">Back</button>
            </form>
        </div>
    </div>
    
</section>
{% endblock content %}

