{% extends "Transactions/base.html" %}

{% block content %}
    <h1>Transaction</h1>

    <p>Amount: {{ transaction.sign}} {{ transaction.amount }} {{ transaction.currency }}</p>
    <p>On: {{ transaction.date }}</p>
    {% if transaction.sign == '-' %}
        <p>To: {{ transaction.account }} </p>
    {% else %}
        <p>From: {{ transaction.account }} </p>
    {% endif %}
    <p>Comment: {{ transaction.comment }}</p>

    <form action="{% url 'Transactions:list' %}" method="GET">
        <p><input type = "submit" value = "Back"></p>
    </form>
{% endblock content %}

