{% extends "Transactions/base.html" %}

{% block content %}
    <section class="hero is-light is-bold is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Vin
                </h1>
                <h2>
                    Automates your money
                </h2>
            </div>
            <div class="container">
                <form action="{% url 'Transactions:manual_add' %}" method = "get">
                    <input class="button is-success" type="submit" value="Add Transaction">
                </form>
                <form action="{% url 'Transactions:list' %}" method = "get">
                    <input class="button is-success" type="submit" value="History">
                </form>
            </div>
        </div>
    </section>
{% endblock content %}

   




