html {
    font-family: "Martel", serif;
    font-size: 10px;
}

body {
    text-align: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: midnightblue;
    margin: 0;
    text-shadow: 1px 1px 0px midnightblue;
}

h2 {
    font-size: 40px;
    text-align: center;
}

form {
    margin: 20px;
    display: inline-block;
}